body {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #444950;
    font-size: 16px;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    background: linear-gradient(135deg, #f5f5f5, #ffffff); 
    
}

ul {
    list-style-type: none;
    padding: 0;
}

